/*                KEY POSITIONS

  ╭─────────────╮      	        ╭─────────────╮
  │    0  1  2  │               │ 3  4  5     │
  │ 6  7  8  9  ╰────╮    ╭─────╯ 10 11 12 13 │
  ╰─────────╮  14 15 │    │ 16 17  ╭──────────╯
            ╰────────╯    ╰────────╯ */

#define COMBO_TERM_FAST 20
#define COMBO_TERM_SLOW 40

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

/* Layers combo */
ZMK_COMBO(caps, &caps_word, 1 4, AL1, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(capslock, &kp CAPSLOCK, 0 5, AL1, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
//ZMK_COMBO(mouse, &smart_mouse, 2 3, AL1, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(stickygui, &sk LGUI, 9 10, AL1, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(stickyalt, &sk LALT, 8 11, AL1, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(stickyctl, &sk LCTL, 7 12, AL1, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(esc, &kp ESC, 0 1, AL1, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(bs, &kp BKSP, 4 5, AL1, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(ret, &kp RET, 11 12, AL1, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

/* emacs combo */
ZMK_COMBO(cx, &kp LC(X), 7 8, AL1, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(cc, &kp LC(C), 8 9, AL1, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)